<link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
<!--footer start from here-->
<br/><br/>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 footerleft ">
        <div class="logofooter"><strong> bookshelf </strong></div>
        <p>Your life is books, organize it!</p>
        <p><i class="fa fa-map-pin"></i> (United States) Claremore, OK 74019</p>
        <p><i class="fa fa-phone"></i> Phone (US) : 1+(918)739-5174</p>
        <p><i class="fa fa-envelope"></i> E-mail : dynamicdesign.jeremy@gmail.com</p>
        
      </div>
      <div class="col-md-2 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">Links</h6>
        <ul class="footer-ul">
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'About Us', library_about_path %></li>
          <li><%= link_to 'Contact Us', library_contact_path %></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">Latest News</h6>
        <div class="post">
          <p>Our website is currently under construction but keep a look out, there will be more to come!<span>January 1, 2018</span></p>
          
        </div>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
          <div class="fb-xfbml-parse-ignore">
            <blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">facebook</a></blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--footer start from here-->

<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>© 2018 - bookshelf</p>
    </div>
    <div class="col-md-6">
      
    </div>
  </div>
</div>