
<div class="jumbotron">
  <h1>Welcome To The Bookshelf!</h1>
  <h2>Your Life is Books, Organize It!</h2><br/>
  
  <div>
  	<% if user_signed_in? %>
      <%= link_to 'Get Started Organizing', books_path, class: 'btn btn-default' %> 
    <% else %>
      <%= link_to 'Get Started Organizing', new_user_registration_path, class: 'btn btn-default' %>
    <% end %>  
  </div>



</div>


