<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.name %></h1>
    <p>
      I would like to personally thank you for trying out the Bookshelf library database.
      If you have any questions or concerns about this web application or if you want to make a suggestion to improve this service we would like to hear from you; you can simply reply to this email or use any other contact method in the web app.

      Again, from everyone at Bookshelf, we thank you for trying out bookshelf. We will try to keep this as a free service but as soon as we start having to pay for the operation we will require a small fee from our users. We hope you enjoy organizing with us!

      Best Regards,

      Jeremy Hill
      Founder of Bookshelf
      
    </p>
  </body>
</html>